 * {
            margin:0;
            padding:0;
            box-sizing:border-box;
        }
        body {
            background-color:HEX #ffffff;
            margin: 20% 20% 20% 20%;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        section { text-align: center;     
        }

        #no_1 {
            width:150px;
            padding-top: 30px;
            padding-bottom: 30px;
            background-color:rgb(112,192,201);
            position:absolute;
            left: 20%;
            top: 30%;     
            border-radius: 3%;
        }
        #no_2 {
            width:150px;
            padding-top: 30px;
            padding-bottom: 37px;
            background-color:rgb(64,116,189);
            position:absolute;
            left: 35%;
            top: 30%;
            border-radius: 3%;

        }
        #no_3 {
            width:150px;
            padding-top: 30px;
            padding-bottom: 45px;
            background-color:rgb(224,94,70);
            position:absolute;
            left:50%;
            top: 30%;
            border-radius: 3%;
        }
        #no_4 {
            width:150px;
            padding-top: 30px;
            padding-bottom: 30px;
            background-color:rgb(145,145,145);
            position:absolute;
            left: 65%;
            top: 30%;
            border-radius: 3%;
        }

        #one {
            width: 25px;
            height: 25px;
            border-style:solid;
            text-align:center;
            padding-top: 1mm;
            font-size: x-small;
            color: rgb(112,192,201);;
            border-radius: 50%;
            border-color:rgb(112,192,201);
            background-color:white;
            position:absolute;
            left: 19.3%;
            top: 28.5%;   
        }
        #two {
            width: 25px;
            height: 25px;
            border-style:solid;
            text-align:center;
            padding-top: 1mm;
            font-size: x-small;
            color: rgb(64,116,189);
            border-radius: 50%;
            border-color:rgb(64,116,189);
            background-color:white;
            position:absolute;
            left: 34.3%;
            top: 28.5%;   
        }
        #three {
            width: 25px;
            height: 25px;
            border-style:solid;
            text-align:center;
            padding-top: 1mm;
            font-size: x-small;
            color: rgb(224,94,70);
            border-radius: 50%;
            border-color:rgb(224,94,70);
            background-color:white;
            position:absolute;
            left: 49.3%;
            top: 28.5%;   
        }
        #four {
            width: 25px;
            height: 25px;
            border-style:solid;
            text-align:center;
            padding-top: 1mm;
            font-size: x-small;
            color: rgb(145,145,145);
            border-radius: 50%;
            border-color:rgb(145,145,145);
            background-color:white;
            position:absolute;
            left: 64.3%;
            top: 28.5%;   
        }

        #h1 {
            text-align: center;
            text-transform:uppercase;
            color:rgb(224,94,70);
            font-size: 1rem;
            font-weight: bold;
            width:70px;
            position:absolute;
            left: 22%;
            top: 55%;
        }
        
        #h2 {
            text-align: center;
            text-transform:uppercase;
            color:rgb(224,94,70);
            font-size: 1rem;
            font-weight: bold;
            width:70px;
            position:absolute;
            left: 37%;
            top: 55%;
        }
        
        #h3 {
            text-align: center;
            text-transform: uppercase;
            color:rgb(224,94,70);
            font-size: 1rem;
            font-weight: bold;
            width:70px;
            position:absolute;
            left: 52%;
            top: 55%;
        }
        
        #h4 {
            text-align: center;
            text-transform: uppercase;
            color:rgb(224,94,70);
            font-size: 1rem;
            font-weight: bold;
            width:70px;
            position:absolute;
            left: 67%;
            top: 55%;
        }

        #p1 {
            text-align: center;
            color:grey;
            font-size: 0.5rem;
            width:140px;
            position:absolute;
            left: 20%;
            top: 62%;
        }
        #p2 {
            text-align: center;
            color:grey;
            font-size: 0.5rem;
            width:140px;
            position:absolute;
            left: 35%;
            top: 63%;
        }
        #p3 {
            text-align: center;
            color:grey;
            font-size: 0.5rem;
            width:140px;
            position:absolute;
            left: 50%;
            top: 63%;
        }
        #p4 {
            text-align: center;
            color:grey;
            font-size: 0.5rem;
            width:140px;
            position:absolute;
            left: 65%;
            top: 63%;
        }
       
